In [4]:
import pandas as pd
import dask.dataframe as dd

In [8]:
df = dd.read_csv('2020_US_Region_Mobility_Report.csv',dtype={'grocery_and_pharmacy_percent_change_from_baseline': 'float64',
       'iso_3166_2_code': 'object',
       'parks_percent_change_from_baseline': 'float64',
       'residential_percent_change_from_baseline': 'float64',
       'retail_and_recreation_percent_change_from_baseline': 'float64',
       'sub_region_1': 'object',
       'sub_region_2': 'object',
       'transit_stations_percent_change_from_baseline': 'float64',
       'workplaces_percent_change_from_baseline': 'float64'})
df = df.dropna(subset=['iso_3166_2_code'])
df = df[['sub_region_1','date','retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline', 
         'parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline',
         'workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']].compute()
df.head()

,sub_region_1,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
321,Alabama,2020-02-15,5.0,2.0,39.0,7.0,2.0,-1.0
322,Alabama,2020-02-16,0.0,-2.0,-7.0,3.0,-1.0,1.0
323,Alabama,2020-02-17,3.0,0.0,17.0,7.0,-17.0,4.0
324,Alabama,2020-02-18,-4.0,-3.0,-11.0,-1.0,1.0,2.0
325,Alabama,2020-02-19,4.0,1.0,6.0,4.0,1.0,0.0

In [11]:
df1 = dd.read_csv('2021_US_Region_Mobility_Report.csv',dtype={'grocery_and_pharmacy_percent_change_from_baseline': 'float64',
       'iso_3166_2_code': 'object',
       'parks_percent_change_from_baseline': 'float64',
       'residential_percent_change_from_baseline': 'float64',
       'retail_and_recreation_percent_change_from_baseline': 'float64',
       'sub_region_1': 'object',
       'sub_region_2': 'object',
       'transit_stations_percent_change_from_baseline': 'float64',
       'workplaces_percent_change_from_baseline': 'float64'})
df1 = df1.dropna(subset=['iso_3166_2_code'])
df1 = df1[['sub_region_1','date','retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline', 
         'parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline',
         'workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']].compute()
df1.head()

,sub_region_1,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
365,Alabama,2021-01-01,-44.0,-30.0,-16.0,-46.0,-72.0,26.0
366,Alabama,2021-01-02,-19.0,-8.0,-2.0,-8.0,-19.0,7.0
367,Alabama,2021-01-03,-16.0,-8.0,-7.0,-1.0,-17.0,6.0
368,Alabama,2021-01-04,-5.0,2.0,-9.0,-9.0,-26.0,8.0
369,Alabama,2021-01-05,-10.0,-1.0,-14.0,-12.0,-25.0,8.0

In [15]:
df2 = dd.read_csv('2022_US_Region_Mobility_Report.csv',dtype={'grocery_and_pharmacy_percent_change_from_baseline': 'float64',
       'iso_3166_2_code': 'object',
       'parks_percent_change_from_baseline': 'float64',
       'residential_percent_change_from_baseline': 'float64',
       'retail_and_recreation_percent_change_from_baseline': 'float64',
       'sub_region_1': 'object',
       'sub_region_2': 'object',
       'transit_stations_percent_change_from_baseline': 'float64',
       'workplaces_percent_change_from_baseline': 'float64'})
df2 = df2.dropna(subset=['iso_3166_2_code'])
df2 = df2[['sub_region_1','date','retail_and_recreation_percent_change_from_baseline','grocery_and_pharmacy_percent_change_from_baseline', 
         'parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline',
         'workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']].compute()
df2.head()

,sub_region_1,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
65,Alabama,2022-01-01,-41.0,-23.0,-15.0,-19.0,-39.0,11.0
66,Alabama,2022-01-02,-19.0,-3.0,-28.0,8.0,-14.0,7.0
67,Alabama,2022-01-03,-12.0,4.0,-24.0,-3.0,-33.0,13.0
68,Alabama,2022-01-04,-8.0,7.0,-20.0,0.0,-20.0,8.0
69,Alabama,2022-01-05,-5.0,11.0,-9.0,0.0,-19.0,7.0

In [28]:
df_all = pd.concat([df,df1,df2],ignore_index=True)
new_order = [1,0,2,3,4,5,6,7]
df_all = df_all[df_all.columns[new_order]]
df_all = df_all.sort_values(by=['date','sub_region_1'])
df_all = df_all.fillna(0)
df_all.head()

,date,sub_region_1,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-02-15,Alabama,5.0,2.0,39.0,7.0,2.0,-1.0
321,2020-02-15,Alaska,5.0,3.0,14.0,2.0,1.0,0.0
642,2020-02-15,Arizona,3.0,2.0,13.0,3.0,-1.0,0.0
963,2020-02-15,Arkansas,3.0,2.0,8.0,-3.0,1.0,0.0
1284,2020-02-15,California,1.0,1.0,19.0,1.0,-1.0,0.0

In [27]:
df_all.to_csv('US_Region_Mobility_Report_cleaned.csv',index=False)